* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: Playfair Display; */
}


.home {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: Source Sans Pro;
}

.NbkjQ {
  width: 80% !important;
}



.gbeJol {
  border-radius: 0px 0px 20px 20px;
  width: 80% !important;

}

.ckJNCn {
  border-bottom-color: #000 !important;

}

.lmojr {
  font-weight: 700 !important;
}

.container-md,
.container-sm,
.container {
  border-radius: 20px 20px 0px 0px;
  margin-left: 15%;
}

/* 
.viewButton {
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 530;
  color: #fff;
  padding: 9px;
  text-align: center;
  background-color: #005eb1;
} */

/* 
.iconButton:hover {
  border-radius: 5px;
  color: #fff;
  background-color: #005eb1;
} */


.container {
  color: #ffffffd7;

}


#titletop {
  margin: 10px;
  font-size: 40px;
  font-weight: 100px;

}

#a {
  color: #ffffffd7;
  text-decoration: none;
}

.projectDetails {
  font-weight: 700px;
}

.kDLGkH {
  height: 70px;
}

#titlemid {
  margin: 15px;
  font-size: 27px;
}

#titlebottom {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.kapsul {
  width: 50px;
}

.top {
  display: flex;
}


.container-md,
.container-sm,
.container {
  border-radius: 20px 20px 0px 0px
}

/* .viewButton {
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 530;
  color: #fff;
  padding: 9px;
  text-align: center;
  background-color: #005eb1;
} */




.ipOzdx div:first-child {
  white-space: normal !important;
}


.container {
  color: #ffffffd7;
}


#titletop {
  margin: 10px;
  font-size: 40px;
  font-weight: 100px;
}


#titlemid {
  margin: 15px;
  font-size: 27px;
}

#titlebottom {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.iconButton {
  min-width: none;
  font-size: 28px;
  border: none;
  background: none;
}

.coDjSU {
  min-width: 0px !important;
  padding: 0px;
}

.top {
  margin-left: 25px;
  padding-top: 15px;
  display: flex;
  color: #ffffffd7;
}


.border-bottom {
  border-bottom: 5px solid black;
  display: block;
  margin-bottom: 1px;
}

.titleDetails {
  color: rgb(174, 32, 32);
  font-weight: 600;
}





.buttons {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* width: 200px; */
  /* gap: 20px; */
}

.buttons label {
  position: relative;
  /* width: 400px; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons label input {
  appearance: none;
}

.buttons label .dateSpan {
  margin-left: 5px;
  position: relative;
  width: 3%;
  height: 50%;
  background: linear-gradient(#555353, #363535, #303030);
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
    0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
}




.buttons label .dateSpan::before {
  content: '';
  position: absolute;
  inset: 5px 3px;
  border-top: 1px solid #ccc;
  filter: blur(2px);
}

.buttons label i {
  position: relative;
  z-index: 10;
}

.date {

  width: 100%;
  height: 90%;
  margin-left: 0.5px;
  color: #ffffffd7;
  font-size: 1.13em;
}

.dateSpan {
  position: 'relative';
  margin-Left: '10px';
  top: '2px';
}




.buttons label input:checked~.date {
  color: #08ba43;
}



.image-container {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 20px;
  margin: 0 10px;
}