* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

.homePage {
    /* margin-top: 30px; */
    /* margin-right: 100px; */
    position: relative;
    height: 100vh;
    width: 95%;
    background-image: url("KapsulBg.png");
    background-size: cover;
    /* background-position: center; */
}

.bgTop {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logoSvg {
    width: 70px;
    padding-left: 5%;
    padding-top: 15%;
    color: #fff;
}

.navbarHomePage {
    padding-left: 15px;
    padding-top: 15px;
    height: 3%;
}

.navbarHomePageLink {
    justify-content: flex-end;
    padding-right: 100px;
}

.navbarHomePage,
.navbarHomePageLink a {
    color: #ffff !important;
}

.centeredText {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    animation: slide-up 1s ease-in-out;
    opacity: 1;
}

@keyframes slide-up {
    0% {
        top: 100%;
    }

    100% {
        top: 35%;
    }
}